<link rel="stylesheet" href="/css/livestream.css">
<script src = "/scripts/livestreamScripts.js" defer></script>
<body>
    <div class = "banner" >
        <div class = "navbar">
            <!-- <img src = "./img/logo.png" class = "logo"> -->
            <textarea class="textarea" id="peer-id" cols="12" rows="1" placeholder = "Id room"></textarea>
            <ul>
              <li><h2>Live Stream</h2></li>
            </ul>
        </div> 
        <div class = "content" id = "content" >
            <h1>Product of UIT's students</h1>
            <p>Enjoy our debut web app. Fast, convenient and great.
                Call anytime, anywhere, even when taking a shower. (-_-)</p>
            <div>
                <button id="start-button" class="btn btn-dark">
                    <span></span>
                    Start
                </button>
                <button id="end-button" class="btn btn-light">
                    <span></span>
                    Home
                </button>
            </div> 
        </div> 
        <div class = "streamvideo">
            <div id="video-grid">
            </div> 
        </div>
    </div>
    </div>
</body>